<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crud Node.js MongoDB</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark mb-4">
	 <a href="/" class="navbar-brand">CRUD NodeMongo</a>
  </nav>
